.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #18191a;
  overflow-x: hidden;
  padding-top: 0em;
  transition: 0.5s;
  border-right: 1px solid;
  border-color: #242526;
}

.side-nav li {
  padding: 1em;
  margin-bottom: 1em;
  list-style: none;
  color: #fff;
  opacity: 0.7;
  margin-left: -1.5em;
  margin-right: 1em;
  border-radius: 5px;
  background-color: #242526;
  white-space: nowrap;
}

.side-nav li:hover {
  opacity: 1;
}

.side-nav a {
  text-decoration: none;
  color: #fff;
}

.side-nav li:hover a {
  color: #61dafb;
}

@media screen and (max-width: 600px) {
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    justify-content: center;
    border-right: 0px;
  }

  .side-nav li {
    border-radius: 5px;
    padding: 0.5em;
    background-color: #242526;
  }
}
